{% extends 'store/main.html' %} {% load static %} {% block title %}
login-page{% endblock title %} {% block content %}

<style>
        .container {
            margin-top: 2rem;
            width: 50%;
            font-family: 'Brush Script MT', cursive;
        }
        
        .container h2 {
            margin: 0rem;
        }
         @media screen and (max-width: 1024px) {
        footer .container .link ul {
            display: flex;
            list-style-type: none;
            margin-left: 7rem;
        }
        .container {
            margin-top: 2rem;
            width: 60%;
            font-family: 'Brush Script MT', cursive;
        }
    }
    </style>
     {% if success %}
    <div class="{{class}}">
        {{messege}} {% endif %}
 <h2 class="text-center p-0">Enter mobile here {{mobile}}</h2>
     <div class="container shadow">
        <h2 class="bg-info text-center p-0">Enter mobile</h2>
        <div class="card p-2 m-0">

            <form action="" method="POST">
                {% csrf_token %}

                <div class="m-3">
                    <label for="mobile">mobile</label>
                    <input type="text" name="mobile" id="mobile">
                </div>
                <button type="submit" class=" btn btn-primary ">submit</button>
            </form>
        </div>
    </div>


{% endblock content %}