{% extends 'store/main.html' %} {% load static %}{% block title %}Type-of-product{% endblock title %} {% block content %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function(){
  $(".update-cart").click(function(){
    alert("The item is added in your cart successfully");
  });
});
</script>
<div class="row m-4">
    {% for product in products %}

    <div class="col-4 p-3">
        <div class="crad-effect">

            {% if product.image %}
            <img class="thumbnail" src="{{product.imageURL}}"> {% endif %}
            <div class="box-element product">
                <h6><strong>{{product.name}}</strong></h6>
                <hr>
                <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                <a class="btn btn-outline-success" href="{% url 'product_detail' product.name %}">View</a>
                <h4 style="display: inline-block; float: right"><strong>${{product.price|floatformat:2}}</strong></h4>
            </div>

        </div>
    </div>
    {% endfor %}
</div>

{% endblock content%}